rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {
        match /threads/{threadID} {
            allow read;

            match /posts/{postID} {
                allow read;

                match /comments/{commentID} {
                    allow read;
                }
            }
        }

        match /users/{userID} {
            allow read;
            allow create: if hasValidUserData(userID);
            allow update: if diffKeys().hasOnly(["description"]) && hasValidUserData(userID);

            match /votes/{voteID} {
                allow read: if request.auth.uid == userID;
            }
        }

        match /{path=**}/posts/{postID} {
            allow read;
        }

        function diffKeys() {
            return request.resource.data.diff(resource.data).affectedKeys();
        }

        function hasValidUserData(userID) {
            let isOwner = request.auth.uid == userID;
            let isValidDescription = request.resource.data.description.size() < 10000;
            
            return isOwner && isValidDescription;
        }

        function canCreateUser(userID) {
            let isNow = request.time == request.resource.data.createdAt;
            let username = request.resource.data.name;

            return isNow && isValidUserData(userID) && isValidUsername(username);  
        }

        function isValidUsername(value) {
            let username = value.lower();
            let isValidLength = username.size() >= 3 && username.size() <= 24;
            let hasValidChars = !username.matches("[^\\w-]");

            return isValidLength && hasValidChars;
        }
    }
}

